nav ul{
	list-style-type: none;
	margin: 0px 7px;
	padding: 0px;
}
nav li{
	float: left;
	background-color: pink;
	font-family: Calibri;
	letter-spacing:2px;
}
nav li a{
	display: block;
	color: white;
	text-align:center;
	text-decoration: none;
	padding: 14px 6px;
	margin: 3px;
}
.picture img{
	margin-top:80px;
	border: 1px groove white;
	border-radius: 10%;
}
.picture{
	text-align: center;
}
body{
	min-height: 100%;
	background-color: rgba(70, 68, 65, 1);
}
html{
	min-height: 100%;
	scroll-behavior: smooth;
}
.ab{
	text-align: center;
	margin: 20px 40px;
}
.ab p{
	font-family: Times New Roman;
}
p, h1{
	color: white;
}
.one{
	background-color: rgba(230, 220, 280, 0.6);
	border: none;
	margin-bottom: 60px;
	margin-top: 200px;
	min-pwidth: 100%;
}
#same{
	text-align: center;
	border: 1px solid black;
	border-width: 0px 0px 1px 0px;
	margin-bottom: 80px;
}
#nsame{
	text-align: center;
	border: none:
	margin-bottom: 80px;
}
.item D{
	border-bottom: 0px;
}
.item p{
	margin-top: 5px;
}
.item img{
	border: 1px solid white;
}
.two{
	background-color: black;
}
.L ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.L li a{
	display: block;
	background-color: black;
	text-align: center;
	color: white;
	padding: 30px 40px;
}
@media screen and (min-width: 480px) {
	nav ul{
		font-size: 40px;
		margin: 0px 65px;
	}
	nav li a{
		padding: 30px;
	}
	.picture img{
		height: 500px;
		width: 400px;
		margin-bottom: 60px;
	}
	.one{
		display: flex;
		overflow: scroll;
		height: 1000px;
		margin-bottom: 200px;
	}
	.item{
		padding: 20px;
		margin-top: 60px;
	}
	.item img{
		height: 850px;
		width: 700px;
	}
	.ab{
		font-size: 35px;
	}
	.ab p{
		font-family:Times New Roman;
	}
	.item p{
		font-size: 40px;
		margin-bottom: 0px;
	}
	#same{
		border: none;
	}
}